In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./dataset/aapl_no_dates.csv')
df.head()

     Open    High     Low   Close    Volume
0  144.88  145.30  143.10  143.50  14277848
1  143.69  144.79  142.72  144.09  21569557
2  143.02  143.50  142.41  142.73  24128782
3  142.90  144.75  142.90  144.18  19201712
4  144.11  145.95  143.37  145.06  21090636

In [4]:
pd.date_range(start='7/1/2017', end='7/21/2017', freq='B')

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [6]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

usb = CustomBusinessDay(calendar=USFederalHolidayCalendar())

In [11]:
rng = pd.date_range(start='7/1/2017', end='7/21/2017', freq=usb)

In [12]:
df.set_index(rng, inplace=True)

In [15]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday

class libur17agustus(AbstractHolidayCalendar):
    """
    US Federal Government Holiday Calendar based on rules specified by:
    https://www.opm.gov/policy-data-oversight/
       snow-dismissal-procedures/federal-holidays/
    """

    rules = [
        Holiday("Hari Kemerdekaan Indonesia", month=8, day=17, observance=nearest_workday)
    ]

myc = CustomBusinessDay(calendar=libur17agustus())

In [17]:
pd.date_range(start='8/1/2022', end='8/30/2022', freq=myc)

DatetimeIndex(['2022-08-01', '2022-08-02', '2022-08-03', '2022-08-04',
               '2022-08-05', '2022-08-08', '2022-08-09', '2022-08-10',
               '2022-08-11', '2022-08-12', '2022-08-15', '2022-08-16',
               '2022-08-18', '2022-08-19', '2022-08-22', '2022-08-23',
               '2022-08-24', '2022-08-25', '2022-08-26', '2022-08-29',
               '2022-08-30'],
              dtype='datetime64[ns]', freq='C')

In [20]:
b = CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu', holidays=['2022-08-17', '2022-08-25'])
pd.date_range(start='8/1/2022', end='8/30/2022', freq=b)

DatetimeIndex(['2022-08-01', '2022-08-02', '2022-08-03', '2022-08-04',
               '2022-08-07', '2022-08-08', '2022-08-09', '2022-08-10',
               '2022-08-11', '2022-08-14', '2022-08-15', '2022-08-16',
               '2022-08-18', '2022-08-21', '2022-08-22', '2022-08-23',
               '2022-08-24', '2022-08-28', '2022-08-29', '2022-08-30'],
              dtype='datetime64[ns]', freq='C')