In [1]:
import pandas as pd

In [2]:
df =pd.read_csv('./dataset/msft.csv', header=1, parse_dates=['Date Time'], index_col='Date Time')
df

                     Price
Date Time
2017-08-17 09:00:00  72.38
2017-08-17 09:15:00  71.00
2017-08-17 09:30:00  71.67
2017-08-17 10:00:00  72.80
2017-08-17 10:30:00  73.00
2017-08-17 11:00:00  72.50

In [3]:
df = df.tz_localize(tz='US/Eastern')
df

                           Price
Date Time
2017-08-17 09:00:00-04:00  72.38
2017-08-17 09:15:00-04:00  71.00
2017-08-17 09:30:00-04:00  71.67
2017-08-17 10:00:00-04:00  72.80
2017-08-17 10:30:00-04:00  73.00
2017-08-17 11:00:00-04:00  72.50

In [5]:
df = df.tz_convert(tz='Europe/Berlin')
df

                           Price
Date Time
2017-08-17 15:00:00+02:00  72.38
2017-08-17 15:15:00+02:00  71.00
2017-08-17 15:30:00+02:00  71.67
2017-08-17 16:00:00+02:00  72.80
2017-08-17 16:30:00+02:00  73.00
2017-08-17 17:00:00+02:00  72.50

In [43]:
from pytz import all_timezones
import re

for country in all_timezones:
    if re.search(r'europe', country, re.I):
        print(country)

Europe/Amsterdam
Europe/Andorra
Europe/Astrakhan
Europe/Athens
Europe/Belfast
Europe/Belgrade
Europe/Berlin
Europe/Bratislava
Europe/Brussels
Europe/Bucharest
Europe/Budapest
Europe/Busingen
Europe/Chisinau
Europe/Copenhagen
Europe/Dublin
Europe/Gibraltar
Europe/Guernsey
Europe/Helsinki
Europe/Isle_of_Man
Europe/Istanbul
Europe/Jersey
Europe/Kaliningrad
Europe/Kiev
Europe/Kirov
Europe/Lisbon
Europe/Ljubljana
Europe/London
Europe/Luxembourg
Europe/Madrid
Europe/Malta
Europe/Mariehamn
Europe/Minsk
Europe/Monaco
Europe/Moscow
Europe/Nicosia
Europe/Oslo
Europe/Paris
Europe/Podgorica
Europe/Prague
Europe/Riga
Europe/Rome
Europe/Samara
Europe/San_Marino
Europe/Sarajevo
Europe/Saratov
Europe/Simferopol
Europe/Skopje
Europe/Sofia
Europe/Stockholm
Europe/Tallinn
Europe/Tirane
Europe/Tiraspol
Europe/Ulyanovsk
Europe/Uzhgorod
Europe/Vaduz
Europe/Vatican
Europe/Vienna
Europe/Vilnius
Europe/Volgograd
Europe/Warsaw
Europe/Zagreb
Europe/Zaporozhye
Europe/Zurich

In [25]:
df.index = df.index.tz_convert(tz='Asia/Jakarta')
df

                           Price
Date Time
2017-08-17 20:00:00+07:00  72.38
2017-08-17 20:15:00+07:00  71.00
2017-08-17 20:30:00+07:00  71.67
2017-08-17 21:00:00+07:00  72.80
2017-08-17 21:30:00+07:00  73.00
2017-08-17 22:00:00+07:00  72.50

In [32]:
rng = pd.date_range(start='1/1/2017', periods=10, freq='H', tz='dateutil/Asia/Jakarta')
rng

DatetimeIndex(['2017-01-01 00:00:00+07:00', '2017-01-01 01:00:00+07:00',
               '2017-01-01 02:00:00+07:00', '2017-01-01 03:00:00+07:00',
               '2017-01-01 04:00:00+07:00', '2017-01-01 05:00:00+07:00',
               '2017-01-01 06:00:00+07:00', '2017-01-01 07:00:00+07:00',
               '2017-01-01 08:00:00+07:00', '2017-01-01 09:00:00+07:00'],
              dtype='datetime64[ns, tzfile('Asia/Jakarta')]', freq='H')

In [35]:
import numpy as np

s = pd.Series(np.random.RandomState(12).randn(10)/ 10, index=rng)
s

2017-01-01 00:00:00+07:00    0.047299
2017-01-01 01:00:00+07:00   -0.068143
2017-01-01 02:00:00+07:00    0.024244
2017-01-01 03:00:00+07:00   -0.170074
2017-01-01 04:00:00+07:00    0.075314
2017-01-01 05:00:00+07:00   -0.153472
2017-01-01 06:00:00+07:00    0.000513
2017-01-01 07:00:00+07:00   -0.012023
2017-01-01 08:00:00+07:00   -0.080698
2017-01-01 09:00:00+07:00    0.287182
Freq: H, dtype: float64

In [37]:
s.index

DatetimeIndex(['2017-01-01 00:00:00+07:00', '2017-01-01 01:00:00+07:00',
               '2017-01-01 02:00:00+07:00', '2017-01-01 03:00:00+07:00',
               '2017-01-01 04:00:00+07:00', '2017-01-01 05:00:00+07:00',
               '2017-01-01 06:00:00+07:00', '2017-01-01 07:00:00+07:00',
               '2017-01-01 08:00:00+07:00', '2017-01-01 09:00:00+07:00'],
              dtype='datetime64[ns, tzfile('Asia/Jakarta')]', freq='H')

In [40]:
b = s.tz_convert(tz='Europe/berlin')
b.index

DatetimeIndex(['2016-12-31 18:00:00+01:00', '2016-12-31 19:00:00+01:00',
               '2016-12-31 20:00:00+01:00', '2016-12-31 21:00:00+01:00',
               '2016-12-31 22:00:00+01:00', '2016-12-31 23:00:00+01:00',
               '2017-01-01 00:00:00+01:00', '2017-01-01 01:00:00+01:00',
               '2017-01-01 02:00:00+01:00', '2017-01-01 03:00:00+01:00'],
              dtype='datetime64[ns, Europe/Berlin]', freq='H')

In [45]:
m = s.tz_convert(tz='Europe/London')
m.index

DatetimeIndex(['2016-12-31 17:00:00+00:00', '2016-12-31 18:00:00+00:00',
               '2016-12-31 19:00:00+00:00', '2016-12-31 20:00:00+00:00',
               '2016-12-31 21:00:00+00:00', '2016-12-31 22:00:00+00:00',
               '2016-12-31 23:00:00+00:00', '2017-01-01 00:00:00+00:00',
               '2017-01-01 01:00:00+00:00', '2017-01-01 02:00:00+00:00'],
              dtype='datetime64[ns, Europe/London]', freq='H')

In [46]:
b + m

2016-12-31 17:00:00+00:00    0.094597
2016-12-31 18:00:00+00:00   -0.136285
2016-12-31 19:00:00+00:00    0.048488
2016-12-31 20:00:00+00:00   -0.340147
2016-12-31 21:00:00+00:00    0.150629
2016-12-31 22:00:00+00:00   -0.306944
2016-12-31 23:00:00+00:00    0.001025
2017-01-01 00:00:00+00:00   -0.024046
2017-01-01 01:00:00+00:00   -0.161396
2017-01-01 02:00:00+00:00    0.574364
Freq: H, dtype: float64